extends ./layout/index2.pug
block compartircontenido
    main.container.mt-5
        .row
        h1.centertext="HOTELES EN ZACATLÁN DE LAS MANZANAS"
            h1.whitetext.font-weight-bold.text-left.mt-5.mt-md-0 BIENVENIDOS
            blockquote.whitetext
                p 
                    span.font-weight-bold Puebla 
                    |tiene pueblos mágicos colmados de una gran riqueza natural. Uno de ellos es Zacatlán de las Manzanas ubicado al inicio de la sierra norte de Puebla, ubicándose al occidente, su altitud promedio es de 2040 msnm, la mínima es de 1360 msnm y la máxima de 2600 msnm.
                p 
                    span.font-weight-bold
                    |La temperatura promedio es de 14.5°C, siendo las mas altas en marzo y junio entre 21° y 23° C y las mas bajas entre 5° y 6° C.
                    |De acuerdo al INEGI, en 2010 la población estimada de Zacatlán era de 76 296 habitantes, de los cuales 36 133 son hombres y 40 163 son mujeres
                p 
                    span.font-weight-bold
                    |Este pueblo magico es excelente para ir a vacacionar, ya se en pareja o en familia, con tanto por visitar necesitaras donde poder descansar por eso ofrecemos descuentos y contamos con servicio VIP, !RESERVA TU HABITACION! antes de que se agoten


            .lista-iconos 
                .container.py-5.text-center 
                    .row 
                        .col-lg-4.col-md-6.p-0
                            .card.m-4
                            .card-body.p-0.m-5
                            img(src="img/cascada.jpg" class="img-fluid mb-4")
                            h2.card-tittle.mb-4 CASCADAS DE TULIMAN
                            p.card-text.tamano Ahí se encuentra el centro recreativo Tulimán que ofrece actividades de aventura por los alrededores de la sierra y cuenta con restaurantes donde se preparan antojitos mexicanos. También se puede hacer vuelo en tirolesa y puentes colgantes.
                        .col-lg-4.col-md-6.p-0
                            .card.m-4
                            .card-body.p-0.m-5
                            img(src="img/mirador.jpg" class="img-fluid mb-4")
                            h2.card-tittle.mb-4 MIRADOR DE CRISTAL
                            p.tamano A muy pocas cuadras de la plaza principal, justo a espaldas del Panteón Municipal, se encuentra el Mirador de la Barranca, un espacio único en su tipo, que te hace sentir casi en las nubes. Y es que al ser totalmente de cristal te brinda una sensación de libertad, como si estuvieras a punto de emprender el vuelo hacia la sierra.
                        .col-lg-4.col-md-6.p-0
                            .card.m-4
                            .card-body.p-0.m-5
                            img(src="img/iglesia.jpg" class="img-fluid mb-4")
                            h2.card-tittle.mb-4 PARROQUIA DE SAN PEDRO
                            p.tamano La Parroquia de San Pedro se construyó a finales del Siglo XVIII es un estilo barroco, sobrio, indigena o tequitqui (1670-1740). En su fachada tiene la caracteristica de retablo, incluyendo las estatuas de San Pedro y San Pablo patronos del municipio, con adornos de orgamaza de hechura popular.
                        .col-lg-4.col-md-6.p-0
                            .card.m-4
                            .card-body.p-0.m-5
                            img(src="img/convento.jpg" class="img-fluid mb-4")
                            h2.card-tittle.mb-4 EXCONVENTO FRANCISCANO
                            p.tamano La construcción está compuesta de un templo católico de estilo basílica, uno de los primeros templos cristianos construidos en América, y de unos claustros anexos, en los que actualmente se encuentra la biblioteca pública del municipio y junto a ella el museo de Zacatlán, que entre sus objetos están algunas pertenencias de Venustiano Carranza, quién falleció cerca de Zacatlán. Su construcción inicial empezó en 1522, pero tras el traslado de la Ciudad de Zacatlán a su ubicación actual el complejo volvió a ser construido en 1562 y se concluyó en 1567.

