footer.container.py-5 
    .row   
        .col-md-6 
            nav.nav.footer.justify-content-center.justify-content-md-start 
                a.nav-link(href="https://www.mexicodesconocido.com.mx/aviso-de-privacidad", class="afooter") Aviso de Privacidad
                a.nav-link(href="https://www.gob.mx/sectur", class="afooter") SECTUR
                a.nav-link(href="https://www.mexicodesconocido.com.mx/", class="afooter") México desconocido
                a.nav-link(href="https://visitmexico.com/", class="afooter") Visit Mexico
                p.text.center.text-md-right.footerfix 
                    |Derechos reservados
                    |Tel. 55-3244-2132 
                    |e-mail: HZacatlan@puebla.com
                    span=tiempo